<mat-toolbar class="mat-elevation-z8">
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened">
          menu
      </mat-icon>
      <mat-icon *ngIf="sidenav.opened">
          close
      </mat-icon>
  </button>
  Responsive side bar
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">

    <img class="avatar mat-elevation-z8" 
      src="https://media-exp1.licdn.com/dms/image/C4D03AQGPbBK9Eyw7kg/profile-displayphoto-shrink_800_800/0/1615906296867?e=1649894400&v=beta&t=qs5NtXLAva4EobiXRGJynSfWA4jhfu81tSdJghL1vBw" />

    <h4 class="name">Raed Felfel</h4>
    <p class="designation">Web Developer</p>

      <mat-divider></mat-divider>

    <button mat-button class="menu-button">
        <mat-icon>home</mat-icon>
        <span>Home</span>
    </button>
    <button mat-button class="menu-button">
        <mat-icon>person</mat-icon>
        <span>Profile</span>
    </button>
    <button mat-button class="menu-button">
        <mat-icon>info</mat-icon>
        <span>About</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button">
        <mat-icon>help</mat-icon>
        <span>Help</span>
    </button>
  </mat-sidenav>

   <mat-sidenav-content>
       <div class="content mat-elevation-z8">
           Main content here!
       </div>
   </mat-sidenav-content>
</mat-sidenav-container>